- content_for(:container) do
  .row
    .col-md-8
      .panel.panel-primary
        .panel-heading= "Billing Details [#{@account.name}]"
        .panel-body
          %table.table
            - if !@line_items[:plans].empty?
              %thead
                %tr
                  %th
                    Subscribed Plans
              %tbody
                - @line_items[:plans].each do |plan_id, plan_info|
                  %tr
                    %td
                      .row
                        .col-md-3
                          %b= plan_info[:name]
                        .col-md-8{:style => 'text-align: right'}= "#{number_to_currency(plan_info[:cost], :precision => 0, :locale => :en)}/mo"
                        .col-md-1
                          %center
                            = link_to yield(:delete_icon), '#'

            - if !@line_items[:pipelines].empty?
              %thead
                %tr
                  %th
                    Enabled Pipelines
              %tbody
                - @line_items[:pipelines].each do |route_id, route_info|
                  %tr
                    %td
                      .row
                        .col-md-3
                          %b= plan_info[:name]
                        .col-md-8{:style => 'text-align: right'}= "#{number_to_currency(plan_info[:cost], :precision => 0, :locale => :en)}/mo"
                        .col-md-1
                          %center
                            = link_to yield(:delete_icon), '#'
          .row
            .col-md-9
            .col-md-3
              .alert-success
                %center
                  Total:
                  %b= "#{number_to_currency(@payment.get(:subscriptions, :data).first.get(:plan, :amount) / 100.to_f, :precision => 0, :locale => :en)}/mo"
        .panel-footer.bg-info
          .div.pull-right
            = yield :ok_icon
          .clearfix
    .col-md-4
      .row
        %br
        .col-md-12
          .panel{:class => @past_due ? 'panel-danger' : 'panel-success'}
            .panel-heading
              Payment Information
              =# link_to yield(:delete_icon), '#', :class => 'pull-right'
              = link_to yield(:edit_icon), '#', :class => 'pull-right', :id => 'card-edit'
              .clearfix
            %table.table
              %tr
                %td
                  %b
                    Credit card:
                  %span.label.label-info= @card[:brand]
                %td{:style => 'text-align: right'}
                  %b= "****-****-****-#{@card[:last4]}"
                  %br
                  Expires:
                  %b= "#{@card[:exp_month]}/#{@card[:exp_year]}"
              %tr
                %td
                  %b
                    Current Rate:
                %td{:style => 'text-align: right'}
                  %b= "#{number_to_currency(@payment.get(:subscriptions, :data).first.get(:plan, :amount) / 100.to_f, :precision => 0, :locale => :en)}/mo"

= render(:partial => 'layouts/container')

= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

:javascript
  var handler = StripeCheckout.configure({
    key: '#{@publish_key}',
    locale: 'auto',
    token: function(token){
      $.post(
        '#{account_billing_edit_path}', {
          token: token.id
        }
      );
    }
  });

  $('#card-edit').on('click', function(elm){
    handler.open({
      name: 'Update Card',
      image: '/checkout-image.png',
      'panel-label': 'Update',
      'allow-remember-me': false,
      email: '#{@payment.email}'
    });
    elm.preventDefault();
  });

  $(window).on('popstate', function(){ handler.close(); });
