%div#fission-stripe-plan.container.container-padding
  %div.panel.panel-default
    %div.panel-heading
      %h4= "Stripe plan #{@plan[:name]}"
    %div.panel-body
      %table.table
        %thead
          %tr.info
            %th{:colspan => 2}
              Plan details
        %tbody
          - @plan.keys.each do |key|
            %tr
              %td.col-md-3
                %b= key.to_s.humanize
              %td= @plan[key]
        %thead
          %tr.info
            %th{:colspan => 2}
              Display details
        %tbody
          - (@info.try(:keys) || []).each do |key|
            %tr
              %td.col-md-3
                %b= key.to_s.humanize
              %td= @info[key]