- @packages ||= Rails.application.config.fission.pricing[:packager]
%div.container.navfix
  %div.row.pricing
    - @packages.each_slice(4) do |pkgs|
      - buffer = (12 - (pkgs.size * 3)) / 2
      - pkgs.each_with_index do |pkg_parts, idx|
        - id, pkg = pkg_parts
        - pkg_class = 'col-md-3'
        - if buffer > 0 && idx == 0
          - pkg_class << " col-md-offset-#{buffer}"
        - rate = number_to_currency(pkg[:price].to_i / 100.to_f, precision: 2, locale: (pkg[:locale] || :en).to_sym)
        %div.package.col-sm-6{class: pkg_class}
          %div.panel.panel-default
            %div.panel-heading
              %h3= pkg[:title]
            %div.panel-body
              %h1.text-center
                = rate
                %small= "/mo"
              %p= pkg[:summary]
            %table.table
              - if pkg[:description].is_a?(Array)
                - pkg[:description].each do |item|
                  %tr.feature
                    %td{:width => '10%'}
                      %i.fa{ class: item[:icon] }
                    %td
                      = item[:label]
              - else
                %tr
                  %td
                    = pkg[:description]
            - if current_user
              %div.panel-footer.text-center
                = form_tag @stripe_customer ? update_order_url : create_order_url, method: :post do
                  = hidden_field_tag :subscription_id, id
                  = javascript_include_tag 'https://checkout.stripe.com/checkout.js', :class => 'stripe-button', 'data-key' => @publish_key, 'data-image' => '/checkout-image.png', 'data-name' => Rails.application.config.fission.site_brand, 'data-description' => pkg[:description][0][:label], 'data-amount' => pkg[:price], 'data-email' => current_user.default_identity.infos['email'], 'data-label' => 'Subscribe', 'data-panel-label' => 'Pay {{amount}}/mo'


%div.container.navfix
