:ruby
  if(current_user)
    is_upgrade = current_user.run_state.plans.empty?
  end
  login_button = link_to('Login!', new_session_path, :class => 'btn btn-success', :role => 'button')
- content_for(:container) do
  - @plans.each_slice(3) do |plans|
    .row
      - plans.each do |plan|
        - content_for("heading-#{plan.object_id}") do
          %h3= plan[:instance].name
        - content_for("footer-#{plan.object_id}") do
          .center-block{:style => 'text-align:center'}
            - if current_user.nil? || @account.customer_payment.nil?
              = form_tag account_billing_order_path(plan[:instance].id), :method => :post do
                = hidden_field_tag :plan_id, plan[:instance].id
                - if(current_user)
                  = javascript_include_tag 'https://checkout.stripe.com/checkout.js', :class => 'stripe-button', 'data-key' => @publish_key, 'data-image' => '/checkout-image.png', 'data-name' => plan[:instance].name, 'data-description' => plan[:instance].summary, 'data-amount' => plan[:instance].generated_cost(:integer), 'data-email' => @account.email || current_user.email, 'data-label' => 'Subscribe', 'data-panel-label' => 'Pay {{amount}}/mo'
                - else
                  = login_button
            - elsif current_user.run_state.plans.include?(plan[:instance])
              %a.btn.btn-success.disabled{:href => '#'}
                Subscribed!
              - is_upgrade = true
            - else
              - if is_upgrade
                = link_to('Upgrade!', account_billing_upgrade_path(:plan_id => plan[:instance].id), :class => 'btn btn-success', :method => :post)
              - else
                = link_to('Downgrade!', account_billing_downgrade_path(:plan_id => plan[:instance].id), :class => 'btn btn-danger', :method => :post)

        %div{:class => "col-md-#{12 / plans.size}"}
          :ruby
            locals = {
              :id => "plan-#{plan[:instance].id}",
              :heading => yield("heading-#{plan.object_id}"),
              :footer => yield("footer-#{plan.object_id}"),
              :panel_class => 'pricing',
              :panel_content => render(
                :partial => 'plan',
                :locals => {
                  :plan => plan
                }
              )
            }
          = render(:partial => 'layouts/panel', :locals => locals)

= render(:partial => 'layouts/container')
