- content_for(:container) do
  - @plans.each do |product, plans|
    - unless isolated_product?
      %div.row
        %div.col-md-1
        %div.col-md-11.product-group
          %h3= product.humanize
    %div.row
      - plans.sort{|x,y| x[:amount] <=> y[:amount]}.each do |plan|
        %div{:class => "col-md-#{12 / plans.size}"}
          - content_for(:heading) do
            %h3= plan[:name].humanize
          - content_for(:panel) do
            %div.plan-price= "#{number_to_currency(plan[:amount].to_i / 100.to_f, :precision => 0, :locale => :en)}/mo"
            %div.plan-summary= plan[:summary]
            %div.plan-description= plan[:description]
          - content_for(:footer) do
            %div.center-block{:style => 'text-align:center'}
              %a.btn.btn-info{:href => current_user ? new_account_subscription_path : new_session_path}
                Get Started!

          = render(:partial => 'layouts/panel', :locals => { :heading => content_for(:heading), :footer => content_for(:footer), :panel_class => 'pricing' })

= render(:partial => 'layouts/container')
