- content_for(:container) do
  - @plans.each_slice(3) do |plans|
    .row
      - plans.each do |plan|
        - content_for("heading-#{plan.object_id}") do
          %h3= plan[:instance].name
        - content_for("footer-#{plan.object_id}") do
          .center-block{:style => 'text-align:center'}
            %a.btn.btn-info{:href => current_user ? new_account_subscription_path : new_session_path}
              Get Started!
        %div{:class => "col-md-#{12 / plans.size}"}
          :ruby
            locals = {
              :id => "plan-#{plan[:instance].id}",
              :heading => yield("heading-#{plan.object_id}"),
              :footer => yield("footer-#{plan.object_id}"),
              :panel_class => 'pricing',
              :panel_content => render(
                :partial => 'plan',
                :locals => {
                  :plan => plan
                }
              )
            }
          = render(:partial => 'layouts/panel', :locals => locals)

= render(:partial => 'layouts/container')
