- content_for(:container) do
  - @plans.each do |product, plans|
    %div.row
      %div.col-md-1
      %div.col-md-11.product-group
        %h3= product.humanize
    %div.row
      - plans.sort{|x,y| x[:amount] <=> y[:amount]}.each do |plan|
        %div{:class => "col-md-#{12 / plans.size}"}
          - content_for(:heading) do
            %h3= plan[:name].humanize
          - content_for(:panel) do
            %div.plan-price= "#{number_to_currency(plan[:amount].to_i / 100.to_f, :precision => 0, :locale => :en)}/mo"
            %div.plan-summary= plan[:summary]
            %div.plan-description= plan[:description]
          - content_for(:footer) do
            %div.center-block{:style => 'text-align:center'}
              - unless @current_subscriptions.include?(plan.id)
                = form_tag account_subscriptions_path(:account_id => @account), :method => :post do
                  = hidden_field_tag :plan_id, plan.id
                  = javascript_include_tag 'https://checkout.stripe.com/checkout.js', :class => 'stripe-button', 'data-key' => @publish_key, 'data-image' => '/checkout-image.png', 'data-name' => product.humanize, 'data-description' => plan[:summary], 'data-amount' => plan[:amount], 'data-email' => @account.email || current_user.email, 'data-label' => 'Subscribe', 'data-panel-label' => 'Pay {{amount}}/mo'
              - else
                %button.btn.btn-info
                  Subscribed!

          = render(:partial => 'layouts/panel', :locals => { :heading => content_for(:heading), :footer => content_for(:footer) })

= render(:partial => 'layouts/container', :locals => { :container_id => 'fission-account-new-subscription-list' })
