%div.row
  - @packages.each_slice(4) do |pkgs|
    %div{class: 'col-md-12'}
      - pkgs.each do |pkg|
        %div{class: 'panel panel-primary'}
          %div{class: 'panel-heading'}= pkg[:title]
          %div{class: 'panel-body'}= pkg[:body]
          %div{class: 'panel-footer'}
            - if @account
              = form_tag @stripe_customer ? update_order_url : create_order_url, method: :post do
                = hidden_field_tag :subscription_id, pkg[:id]
                = javascript_include_tag 'https://checkout.stripe.com/checkout.js', :class => 'stripe-button', 'data-key' => '', 'data-image' => '/checkout-image.png', 'data-name' => 'Fission', 'data-description' => pkg[:checkout_description], 'data-amount' => pkg[:cost]
            - else
              = link_to 'Sign Up!', authenticate_user_url, :class => 'btn btn-primary'
